body{
    background: bisque;
  
}
h2{
    color: rgb(235, 74, 56);
}
div{
    color: rgb(13, 2, 23);
}

button{
position: relative;
/* left: 120px; */
bottom: 1px;

background: rgb(153, 93, 164);
color: rgb(35, 11, 41);;
}
.lett{
position: relative;
left: 20px;
}
#butto{
    position: relative;
    left: 150px;
}

