<body>
<h2>Password Generator </h2>
<div class="lett"> Enter Length<input (input)="onchangeLength($event.target.value)"> </div>

<div class="lett"> <input (change)="onChangeUseLetters()" type="checkbox">Use Letters

</div>  
<div class="lett"> <input (change)="onChangeUseNumbers()" type="checkbox">

Use Numbers</div>
<div class="lett"> <input (change)="onChangeUseSymbols()" type="checkbox">
Use Symbols</div>


<div id="butto">
    <button (click)="onButtonClick()"> Generate!</button>
</div>
<div>Your Password<input [value]="password">
</div>
</body>