<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p><strong> Name is {{name}}</strong></p>
<div> <input (click)="changeme($event)" [value]="imgurl">
</div>
  <div><img width="300" alt="Angular Logo" class="img" [src]="imgurl"></div>
</div>
<input (keydown)="videochange($event)" [value]="video">
<div><video [src]="video"  controls  class="vid"></video></div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->
 <!-- <app-test></app-test>
<app-databinding></app-databinding>
<app-test2 ></app-test2>
<app-password></app-password>
<app-practice></app-practice>
<app-test></app-test>
<app-ngfor></app-ngfor>
<app-ng-if></app-ng-if>
<app-ng-for2></app-ng-for2>
<app-ng-for-assi></app-ng-for-assi>
<app-attribute-directive></app-attribute-directive>
<app-practice2></app-practice2> -->
<!-- <app-c2></app-c2>  -->
<!-- <app-c1></app-c1> -->
<!-- <app-templateforms></app-templateforms> -->
<!-- <button  (click)="getapp()">getbutton</button> -->
<!-- <app-post></app-post> -->
<!-- <app-test></app-test> -->
<!-- <app-todo></app-todo> -->
<!-- <app-todo2></app-todo2> -->
<!-- <app-comp1></app-comp1> -->
<!-- <app-comp2></app-comp2><app-comp3></app-comp3><app-comp4></app-comp4> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Features">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Product</a>
      </li>
      <li class="nav-item"><a routerLink="post" class="nav-link" >post</a></li>
      <li class="nav-item dropdown">
  
      </li>
    </ul>
  </div>
</nav> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-tv></app-tv> -->
<!-- <app-propertydecorator2></app-propertydecorator2> -->
<!-- <app-propertydeocrator></app-propertydeocrator> -->
<app-formpractice></app-formpractice>
<!-- <app-firstcom></app-firstcom> -->
<!-- <app-second></app-second> -->
<!-- <app-formpractice></app-formpractice>
<app-practicereactive></app-practicereactive>
<app-firstcom></app-firstcom>

<app-pipe></app-pipe> -->
<!-- <app-hooks  [input]="data" *ngIf="istrue"><h1 #child>this is the after content chnage hooks</h1></app-hooks>
<button (click)="onchange()">onchange</button> 
<button (click)="ondestroy()">ondestroy</button> -->
<!-- <app-pra2></app-pra2> -->
<!-- <app-reactive-form></app-reactive-form> -->
<app-reactive-form></app-reactive-form>